/* Styling the browser  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styling the Conetent of Body */
body{
    background-color: #f4f6f9;
    color: #333;
    line-height: 1.6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Styling the Header Section */
header{
    background: #2c3e50;
    color: #fff;
    padding: 40px 20px;
    text-align: center;
}

/* Styling the Education section */

section ul {
  list-style-type: none;
  padding-left: 0;
}

section ul li {
  background: #f9f9f9;
  margin: 10px 0;
  padding: 15px;
  border-left: 4px solid #2c3e50;
  border-radius: 6px;
}

section ul li strong {
  color: #2c3e50;
  font-size: 1.1em;
}

header p{
    font-size: 1.2em;
    opacity: 0.9;
}

/* Styling the section content */
section{
    background: #fff;
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1) 
}
section h2 {
  color: #2c3e50;
  margin-bottom: 10px;
  border-bottom: 2px solid #eee;
  padding-bottom: 5px;
}

section ul {
  list-style-type: square;
  margin-left: 20px;
}

/* Styling the Conatct Section */
.social-links {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 15px;
}

.social-links a {
  text-decoration: none;
  color: #2c3e50;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 8px;
}

.social-links img {
  width: 30px;
  height: 30px;
}
